<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
    <input type="hidden" formControlName="id">
    <div class="formulario">
        <mat-form-field appearance="fill">
            <mat-label>Titulo:</mat-label>
            <input matInput type="text" placeholder="Digite um titulo" formControlName="title" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="Descreva este momento" formControlName="description" rows="5"></textarea>
        </mat-form-field>
        <div class="input-label">
            <label for="image" style="margin-right: 15px;">Coloque a foto que mais marcou:</label>
            <input type="file" (change)="onFileSelected($event)">
        </div>
        <button mat-raised-button color="primary" type="submit" style="width: 150px; margin: 0 auto;" >
        {{btnText}}</button>
    </div>
</form>