<div class="moment" *ngIf="moment">
    <mat-card class="example-card moment">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{moment.title}}</mat-card-title>
            <mat-card-subtitle class="date">Em: {{moment.created_at}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ imagePath }}uploads/{{ moment.image }}" alt="{{moment.title}}" class="edit-image">

        <mat-card-actions style="margin-top: 15px;">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
                style="margin-right: 3px;" routerLink="/moments/edit/{{moment.id}}">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon"
                (click)="removeHandler(moment.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-content style="margin-top: 20px;">
            <p>
                Comentários: {{ moment.comments!.length > 0 ? moment.comments!.length : 0}}
            </p>

            <!--Form comentários-->
            <div class="comment-form">
                <h4>Deixe um comentário:</h4>
                <form [formGroup]="commentForm" #formDir="ngForm" (ngSubmit)="onSubmit(formDir)">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-label>Deixe um comentário:</mat-label>
                            <textarea matInput placeholder="Ex. Isso me faz sentir..."
                                formControlName="text"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="example-form-field">
                            <mat-label>Seu nome:</mat-label>
                            <input matInput type="text" formControlName="username">
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary">Comentar</button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

</div>

<div class="comentarios">
    <div class="comments" *ngIf="moment.comments!.length > 0; else noComment">
        <mat-card *ngFor="let comment of moment.comments" style="margin-bottom: 0.5em;">
            <mat-card-header>
                <mat-card-title>{{comment.username}}</mat-card-title>
                <mat-card-subtitle>{{comment.text}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="end">
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <ng-template #noComment>
        <div class="noComments">
            <mat-card class="card-comment">
                <mat-card-header>
                    <mat-card-title>Não há comentários</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </ng-template>
</div>


<!--teste
*ngIf="moment.comments!.length > 0; else noComment"
 *ngFor="let comment of moment.comments"
-->